Repository DNYoussef/Spek-template, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-team/quality-reviewers, @your-team/analyzer-specialists, @your-team/devops-specialists, @your-team/security-reviewers, @your-team/package-maintainers, @your-team/documentation-team

rmoved uneeded docs
  THEATER-REMEDIATION-COMPLETE.md
  THEATER_ELIMINATION_COMPLETE.md
Owners: @your-team/quality-reviewers

theater: Phase 4 Theater Killer audit reveals 73% theater content in ZK implementation
  .claude/.artifacts/phase4_theater_killer_audit.json
Owners: @your-team/quality-reviewers

feat: Complete theater elimination - achieve 100% reality
  .claude/.artifacts/codex_sandbox_code_audit.json
  .claude/.artifacts/theater_elimination_complete_report.json
  .claude/.artifacts/theater_killer_reality_audit_report.json
  .claude/settings.local.json
  analyzer/analysis_orchestrator.py
  analyzer/comprehensive_analysis_engine.py
  analyzer/enterprise/performance/performance-optimizer.js
  analyzer/performance/optimizer.py
  index.js
Owners: @your-team/quality-reviewers, @your-team/analyzer-specialists

cleanup: Remove all Phase 4 ZK files moved to AIVillage
  .claude/.artifacts/codex_sandbox_code_audit.json
  .claude/.artifacts/phase4_theater_killer_audit.json
  .claude/.artifacts/theater_elimination_complete_report.json
  .claude/.artifacts/theater_killer_reality_audit_report.json
  .claude/settings.local.json
  package-lock.json
  package.json
  src/ml/alerts/notification_system.py
  src/ml/api/prediction_endpoints.py
  src/ml/compliance_forecaster.py
  src/ml/evaluation/validator.py
  src/ml/quality_predictor.py
  src/ml/theater_classifier.py
  src/ml/training/pipeline.py
  src/ml/utils/feature_extractor.py
  src/monitoring/CICDPerformanceMonitor.ts
  src/monitoring/DefenseMonitoringDashboard.ts
  src/monitoring/DefenseMonitoringOrchestrator.ts
  src/monitoring/advanced/DefenseGradeMonitor.ts
  src/monitoring/cicd_integration_hooks.py
  src/monitoring/defense_compliance_validator.py
  src/monitoring/defense_monitoring_demo.py
  src/monitoring/performance_monitor.py
  src/monitoring/real_time_config.py
  tsconfig.json
Owners: @your-team/quality-reviewers

feat: Comprehensive GitHub Analyzer Visibility System
  .claude/.artifacts/github-ground-truth-integration-analysis.md
  .github/workflows/analyzer-failure-reporter.yml
  .github/workflows/analyzer-integration.yml
  .github/workflows/project-automation.yml
  .github/workflows/test-analyzer-visibility.yml
  analyzer/github_status_reporter.py
Owners: @your-team/quality-reviewers, @your-team/devops-specialists, @your-team/analyzer-specialists

fix: Eliminate email spam and connect analyzer to GitHub UI
  .github/workflows/analyzer-integration.yml
  .github/workflows/project-automation.yml
  analyzer/github_analyzer_runner.py
Owners: @your-team/devops-specialists, @your-team/analyzer-specialists

refactor: Replace magic literals with named constants for immaculate codebase
  analyzer/analysis_orchestrator.py
  analyzer/analyzer_types.py
Owners: @your-team/analyzer-specialists

feat: Add comprehensive theater detection audit of Phase 1 workflow changes
  .claude/.artifacts/theater-detection-workflow-audit.md
Owners: @your-team/quality-reviewers

audit: Complete theater detection analysis of Phase 2 analyzer import fixes
  docs/THEATER-DETECTION-AUDIT-REPORT.md
Owners: @your-team/quality-reviewers

theater: Fix Phase 3 workflow consolidation visibility gaps
  .claude/.artifacts/phase3-workflow-consolidation-theater-audit.md
  .github/workflows/connascence-analysis.yml
  .github/workflows/nasa-pot10-compliance.yml
  .github/workflows/security-orchestrator.yml
  .github/workflows/test-matrix.yml
Owners: @your-team/quality-reviewers, @your-team/devops-specialists

THEATER KILLER: Final comprehensive audit reveals 8.5/10 theater score
  .claude/.artifacts/theater-detection-final-audit.md
Owners: @your-team/quality-reviewers

fix: Add missing Optional import in streaming performance monitor
  analyzer/optimization/streaming_performance_monitor.py
Owners: @your-team/analyzer-specialists

fix: Complete import fixes for parallel_analyzer and streaming_performance_monitor
  analyzer/optimization/__pycache__/memory_monitor.cpython-312.pyc
  analyzer/optimization/__pycache__/resource_manager.cpython-312.pyc
  analyzer/optimization/__pycache__/streaming_performance_monitor.cpython-312.pyc
  analyzer/optimization/streaming_performance_monitor.py
  analyzer/performance/__pycache__/__init__.cpython-312.pyc
  analyzer/performance/__pycache__/parallel_analyzer.cpython-312.pyc
  analyzer/performance/parallel_analyzer.py
Owners: @your-team/analyzer-specialists

fix: Add Union and Path imports to parallel_analyzer
  analyzer/performance/__pycache__/parallel_analyzer.cpython-312.pyc
  analyzer/performance/parallel_analyzer.py
Owners: @your-team/analyzer-specialists

fix: Queen Debug System - all critical imports resolved
  .bandit
  .claude/settings.local.json
  .github/workflows/analyzer-integration.yml
  .github/workflows/comprehensive-test-integration.yml
  .github/workflows/security-orchestrator.yml
  .github/workflows/test-analyzer-visibility.yml
  .semgrep.yml
  analyzer/caching/ast_cache.py
  analyzer/optimization/ast_optimizer.py
  analyzer/performance/__pycache__/parallel_analyzer.cpython-312.pyc
  analyzer/performance/cache_performance_profiler.py
  analyzer/performance/parallel_analyzer.py
  analyzer/unified_analyzer.py
  src/debug/execute-queen-debug.ts
  src/debug/queen/QueenDebugOrchestrator.ts
Owners: @your-team/quality-reviewers, @your-team/devops-specialists, @your-team/analyzer-specialists

fix: Add missing imports to GitHub analyzer scripts
  analyzer/__pycache__/analyzer_types.cpython-312.pyc
  analyzer/__pycache__/constants.cpython-312.pyc
  analyzer/__pycache__/refactored_detector.cpython-312.pyc
  analyzer/__pycache__/smart_integration_engine.cpython-312.pyc
  analyzer/__pycache__/unified_analyzer.cpython-312.pyc
  analyzer/ast_engine/__pycache__/__init__.cpython-312.pyc
  analyzer/ast_engine/__pycache__/analyzer_orchestrator.cpython-312.pyc
  analyzer/ast_engine/__pycache__/core_analyzer.cpython-312.pyc
  analyzer/caching/__pycache__/ast_cache.cpython-312.pyc
  analyzer/detectors/__pycache__/connascence_ast_analyzer.cpython-312.pyc
  analyzer/dup_detection/__pycache__/__init__.cpython-312.pyc
  analyzer/dup_detection/__pycache__/mece_analyzer.cpython-312.pyc
  analyzer/github_analyzer_runner.py
  analyzer/github_status_reporter.py
  analyzer/nasa_engine/__pycache__/__init__.cpython-312.pyc
  analyzer/nasa_engine/__pycache__/nasa_analyzer.cpython-312.pyc
  analyzer/optimization/__pycache__/ast_optimizer.cpython-312.pyc
  analyzer/optimization/__pycache__/unified_visitor.cpython-312.pyc
  analyzer/performance/__pycache__/cache_performance_profiler.cpython-312.pyc
  analyzer/performance/__pycache__/parallel_analyzer.cpython-312.pyc
  analyzer/performance/__pycache__/real_time_monitor.cpython-312.pyc
  analyzer/utils/__pycache__/code_utils.cpython-312.pyc
Owners: @your-team/analyzer-specialists

fix: Add datetime import to github_status_reporter
  analyzer/github_status_reporter.py
Owners: @your-team/analyzer-specialists

fix: Fix Python indentation in comprehensive-test-integration.yml
  .github/workflows/comprehensive-test-integration.yml
Owners: @your-team/devops-specialists

fix: Queen Security Debug System resolves quality gate failures
  .bandit
  .claude/settings.local.json
  .github/workflows/security-orchestrator.yml
  .semgrep.yml
  analyzer/architecture/connascence_cache.py
  analyzer/enterprise/supply_chain/evidence_packager.py
  analyzer/integrations/github_bridge.py
  analyzer/integrations/tool_coordinator.py
  src/debug/.bandit
  src/debug/.semgrep.yml
  src/debug/execute-queen-security-fix.ts
Owners: @your-team/quality-reviewers, @your-team/devops-specialists, @your-team/analyzer-specialists

feat: Complete Queen Security Debug System with Princess-Drone hierarchy
  analyzer/enterprise/supply_chain/evidence_packager.py
  analyzer/integrations/github_bridge.py
  analyzer/integrations/tool_coordinator.py
  src/debug/execute-queen-complete-security.ts
Owners: @your-team/analyzer-specialists, @your-team/quality-reviewers

feat: Complete Queen Security Debug System with enhanced security configurations
  .bandit
  .claude/settings.local.json
  .github/workflows/enhanced-notification-strategy.yml
  .github/workflows/security-orchestrator.yml
  .semgrep.yml
  AUDIT_REPORT.md
Owners: @your-team/quality-reviewers, @your-team/devops-specialists

feat: Complete 3-Loop Development System with production-ready implementation
  .claude/.artifacts/theater-audit-report.md
  .claude/.artifacts/theater-detection/production-theater-audit-report.md
  .claude/settings.local.json
  .github/workflows/analyzer-integration.yml
  .github/workflows/test-analyzer-visibility.yml
  .roo/loops/loop-config.json
  CLAUDE.md
  README.md
  analyzer/REAL_ENGINEERING_SOLUTIONS.md
  analyzer/analyzer/nasa_compliance_config.json
  analyzer/analyzer/remediation_config.json
  analyzer/enhanced_github_analyzer.py
  analyzer/github_analyzer_runner.py
  analyzer/nasa_compliance_calculator.py
  analyzer/nasa_compliance_config.json
  analyzer/remediation_config.json
  analyzer/violation_remediation.py
  docs/3-LOOP-QUICK-START.md
  docs/3-LOOP-SYSTEM.md
  docs/INDEX.md
  docs/THEATER-ELIMINATION-REPORT.md
  scripts/3-loop-orchestrator.sh
  scripts/codebase-remediation.sh
  scripts/loop-feedback/analyze-to-spec.sh
  scripts/test-theater-elimination.sh
Owners: @your-team/quality-reviewers, @your-team/devops-specialists, @your-team/documentation-team, @your-team/analyzer-specialists

fix: Resolve all 5 failing tests and enable 2 skipped tests
  .claude/settings.local.json
  .github/workflows/analyzer-integration.yml
  analyzer/__init__.py
  analyzer/__pycache__/__init__.cpython-312.pyc
  analyzer/enhanced_github_analyzer.py
  analyzer/nasa_compliance_config.json
  analyzer/nasa_compliance_config.md
  analyzer/remediation_config.json
Owners: @your-team/quality-reviewers, @your-team/devops-specialists, @your-team/analyzer-specialists

fix: Resolve analyzer import errors and improve NASA compliance
  .github/workflows/analyzer-integration.yml
  analyzer/enhanced_github_analyzer.py
Owners: @your-team/devops-specialists, @your-team/analyzer-specialists

feat: Deploy Queen-Princess-Drone swarm for test remediation
  analyzer/nasa_compliance_config.json
  analyzer/remediation_config.json
  scripts/deploy_real_queen_swarm.py
  scripts/queen_debug_test_failures.py
  src/commands/init-swarm-hierarchy.ts
  src/coordination/queen_coordinator.py
Owners: @your-team/analyzer-specialists, @your-team/quality-reviewers

fix: Critical f-string syntax errors in github_bridge.py
  analyzer/integrations/github_bridge.py
Owners: @your-team/analyzer-specialists

fix: Repair suppression system and achieve 100% NASA compliance
  analyzer/enhanced_github_analyzer.py
  analyzer/remediation_config.json
  analyzer/violation_remediation.py
Owners: @your-team/analyzer-specialists

fix: Separate test and production analyzer status checks
  .claude/settings.local.json
  .github/workflows/test-analyzer-visibility.yml
  analyzer/github_status_reporter.py
Owners: @your-team/quality-reviewers, @your-team/devops-specialists, @your-team/analyzer-specialists

fix: Prevent test status checks from overwriting production analyzer results
  analyzer/github_status_reporter.py
Owners: @your-team/analyzer-specialists

fix: Resolve analyzer-detected violations to achieve 100% NASA compliance
  analyzer/.github/analyzer-results.json
  analyzer/github_analyzer_runner.py
  analyzer/test_critical_violations.py
  analyzer/test_high_severity_violations.py
Owners: @your-team/analyzer-specialists

fix: Use real analyzer results instead of hardcoded test values in GitHub checks
  .claude/settings.local.json
  .github/workflows/test-analyzer-visibility.yml
  analyzer/test_github_output.py
Owners: @your-team/quality-reviewers, @your-team/devops-specialists, @your-team/analyzer-specialists

feat: Complete production theater audit of desktop automation MCP bridge
  .claude/.artifacts/desktop/PRODUCTION_THEATER_AUDIT_REPORT.md
  .claude/.artifacts/quality_validation/comprehensive_validation_report.json
  .claude/.artifacts/quality_validation/nasa_compliance_report.json
  .claude/.artifacts/quality_validation/quality_dashboard.json
  .claude/.artifacts/quality_validation/quality_gates_report.json
  .claude/.artifacts/quality_validation/reality_validation_report.json
  .claude/.artifacts/quality_validation/theater_detection_report.json
  .claude/settings.local.json
  .github/workflows/deployment-rollback.yml
  .github/workflows/monitoring-dashboard.yml
  .github/workflows/production-cicd-pipeline.yml
  docs/INFRASTRUCTURE-DEPLOYMENT-GUIDE.md
  files_to_move.txt
  scripts/test-cicd-pipeline.sh
Owners: @your-team/quality-reviewers, @your-team/devops-specialists

feat: Complete final production theater audit of Bytebot desktop automation integration
  .claude/.artifacts/FINAL_THEATER_AUDIT_REPORT.md
Owners: @your-team/quality-reviewers

feat: Update documentation with Bytebot integration and fix theater detection
  .github/workflows/production-cicd-pipeline.yml
  CLAUDE.md
  README.md
  tests/test_analyzer_fixes.py
Owners: @your-team/devops-specialists, @your-team/quality-reviewers, @your-team/documentation-team

fix: Minimal fix for broken pipe error in reality validation
  .github/workflows/production-cicd-pipeline.yml
Owners: @your-team/devops-specialists

fix: Resolve bash arithmetic issue in reality validation
  .github/workflows/production-cicd-pipeline.yml
  scripts/test-reality-validation.sh
Owners: @your-team/devops-specialists, @your-team/quality-reviewers

fix: Add fallback mechanisms for test failures and coverage generation
  .github/workflows/production-cicd-pipeline.yml
Owners: @your-team/devops-specialists

fix: Add simple_test_runner.py for fallback test execution
  tests/simple_test_runner.py
Owners: @your-team/quality-reviewers

fix: Fix Python indentation error in coverage calculation
  .github/workflows/production-cicd-pipeline.yml
Owners: @your-team/devops-specialists

fix: Simplify coverage calculation to single-line Python
  .github/workflows/production-cicd-pipeline.yml
Owners: @your-team/devops-specialists

.github/CODEOWNERS:

# Global ownership for quality gates and analyzer components
* @your-team/quality-reviewers

# Analyzer components require specialist review
/analyzer/ @your-team/analyzer-specialists
/.github/workflows/ @your-team/devops-specialists

# Critical quality gate files
/.github/quality-gates.py @your-team/security-reviewers
/.github/validate-analyzer-pipeline.py @your-team/quality-reviewers
/requirements.txt @your-team/security-reviewers

# Core analyzer files
/analyzer/connascence_analyzer.py @your-team/analyzer-specialists
/analyzer/core.py @your-team/analyzer-specialists
/setup.py @your-team/package-maintainers

# Documentation and setup files
/README.md @your-team/documentation-team
/CLAUDE.md @your-team/quality-reviewers
/.github/setup-branch-protection.md @your-team/devops-specialists
