Repository DNYoussef/Spek-template, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-team/quality-reviewers, @your-team/analyzer-specialists, @your-team/devops-specialists, @your-team/security-reviewers, @your-team/package-maintainers, @your-team/documentation-team

fix: Complete CI/CD pipeline fixes with validated safety module updates
  .claude/.artifacts/CI_FIX_SUMMARY.md
  .claude/.artifacts/sandbox/bash-testing/test-bash-fixes.sh
  .claude/.artifacts/sandbox/comprehensive-test-report.md
  .claude/.artifacts/sandbox/coverage-testing/test-coverage-calculation.sh
  .claude/.artifacts/sandbox/edge-cases/test-edge-cases.sh
  .claude/.artifacts/sandbox/final-validation-summary.md
  .claude/.artifacts/sandbox/pipeline-test/simulate-github-actions.sh
  .claude/.artifacts/sandbox/pipeline-test/test-runner.sh
  .claude/.artifacts/sandbox/reality-validation/test-reality-checks.sh
  .claude/.artifacts/sandbox/yaml-validation/validate-yaml.py
  .claude/.artifacts/test_output.txt
  .claude/.artifacts/test_results.json
  coverage.xml
  src/main.py
  src/safety/core/__pycache__/failover_manager.cpython-312.pyc
  src/safety/core/__pycache__/safety_manager.cpython-312.pyc
  src/safety/core/failover_manager.py
  src/safety/core/safety_manager.py
  src/safety/hardware_auth_manager.py
  src/safety/recovery/__pycache__/__init__.cpython-312.pyc
  src/utils.py
  tests/test_kill_switch_integration.py
  tests/test_main.py
  tests/test_utils.py
Owners: @your-team/quality-reviewers

fix: Resolve monitoring dashboard workflow failures
  .github/workflows/monitoring-dashboard.yml
Owners: @your-team/devops-specialists

fix: Correct awk variable escaping in performance monitoring
  .github/workflows/monitoring-dashboard.yml
Owners: @your-team/devops-specialists

fix: Use bc with printf for response time calculation
  .github/workflows/monitoring-dashboard.yml
Owners: @your-team/devops-specialists

fix: Simplify bc calculation to avoid printf issues
  .github/workflows/monitoring-dashboard.yml
Owners: @your-team/devops-specialists

fix: Use pure bash string manipulation for response time calculation
  .github/workflows/monitoring-dashboard.yml
Owners: @your-team/devops-specialists

fix: Bulletproof fixes for performance and theater monitoring
  .github/workflows/monitoring-dashboard.yml
Owners: @your-team/devops-specialists

fix: Final bulletproof solution for monitoring dashboard
  .github/workflows/monitoring-dashboard.yml
Owners: @your-team/devops-specialists

fix: Resolve variable scope issue causing workflow failures
  .github/workflows/monitoring-dashboard.yml
Owners: @your-team/devops-specialists

fix: Resolve arithmetic increment failures with set -e
  .github/workflows/monitoring-dashboard.yml
Owners: @your-team/devops-specialists

feat: Complete theater detection audit with comprehensive findings
  .claude/.artifacts/THEATER_DETECTION_AUDIT_REPORT.md
Owners: @your-team/quality-reviewers

fix: Eliminate production theater and achieve 100% production readiness
  .claude/.artifacts/FINAL-PRODUCTION-AUDIT-REPORT.md
  .claude/.artifacts/arithmetic-increment-theater-audit.md
  .claude/.artifacts/loop-scripts-theater-audit.md
  .claude/.artifacts/validation-report/20250918_234350_validation.json
  .claude/.artifacts/validation-report/20250918_234721_validation.json
  .claude/.artifacts/validation-report/functionality-reality-assessment.md
  .github/workflows/deployment-rollback.yml
  .github/workflows/monitoring-dashboard.yml
  cookies.txt
  docs/audits/SPARC_AUDIT_REPORT.md
  docs/audits/VARIABLE_SCOPE_SOLUTIONS.md
  package.json
  scripts/lib/error-handler.sh
  scripts/loop1-planning.sh
  scripts/loop2-development.sh
  scripts/test-desktop-integration.sh
  scripts/validate-system.sh
  tests/shell/debug_test.sh
  tests/shell/increment_test.sh
  tests/shell/set_e_test.sh
  tests/shell/simple_test.sh
  tests/shell/test_calculation.sh
  tests/shell/test_variable_scope.sh
Owners: @your-team/quality-reviewers, @your-team/devops-specialists

.github/CODEOWNERS:

# Global ownership for quality gates and analyzer components
* @your-team/quality-reviewers

# Analyzer components require specialist review
/analyzer/ @your-team/analyzer-specialists
/.github/workflows/ @your-team/devops-specialists

# Critical quality gate files
/.github/quality-gates.py @your-team/security-reviewers
/.github/validate-analyzer-pipeline.py @your-team/quality-reviewers
/requirements.txt @your-team/security-reviewers

# Core analyzer files
/analyzer/connascence_analyzer.py @your-team/analyzer-specialists
/analyzer/core.py @your-team/analyzer-specialists
/setup.py @your-team/package-maintainers

# Documentation and setup files
/README.md @your-team/documentation-team
/CLAUDE.md @your-team/quality-reviewers
/.github/setup-branch-protection.md @your-team/devops-specialists
